*{
    padding:0;
    margin:0;
}/*这是css reset的基本方式，将所有元素适用内边距外边距等于零，避免不同浏览器的差异*/
html{
    font-size:62.5%
}
body{
    font-family:"Microsoft Yahei",sans-serif;
}
p,a{
    color: white;
}
a{
    text-decoration: none;
}
.container{
    width:100%;
    max-width:640px;
    margin:0 auto;
}
.header{
    width:100%;
    height: 89px;
    background-color: black;
    position:relative;
}
.icon_back{
    width:3.125%;
    position:absolute;
    top:25.84%;
    left:2.81%;
}
.header a{
    font-size:2.6rem;
    position:absolute;
    top:30.33%;
    left:8%;
}
.header p{
    font-size:3.4rem;
    position:absolute;
    top:24.71%;
    left:44.68%;
}
.icon_more{
    width:5.78%;
    position:absolute;
    top:42.69%;
    right:3%;
}
.content{
    height:1009px;
    width:100%;
    position:relative;
    background-color:#68cdd5;
}
.icon_exit{
    position:absolute;
    top:1.88%;
    left:5.46%;
}
.logo{
    display:block;
    margin:0 auto;
    position:relative;
    top:11.5%;
}
#content{
    font-size:3rem;
    line-height:4rem;
    margin:0 7rem;
    position:relative;
    top:29.76%;
}
.bt-left{
    width:13.125%;
    position:absolute;
    top:67.06%;
    left:21.56%;
}
.bt-right{
    width:13.125%;
    position:absolute;
    top:67.06%;
    left:67.65%;
}
#number{
    font-size:2.4rem;
    position:absolute;
    top:77.08%;
    left:18.75%;
}
#PTT{
    font-size:2.4rem;
    position:absolute;
    top:77.08%;
    left:66.41%;
}